{% extends 'index.twig' %}
{% block contents %}

<div class="container">

    {% if exposure is defined %}

        <h1>Exposure</h1>

        <div class="information">

            <p>ID: {{ exposure.id }}</p>
            <p>ISO: {{ exposure.ISO }}</p>
            <p>Aperture: F/{{ exposure.aperture }}</p>
            <p>Shutter Speed: {{ exposure.shutterSpeed }}</p>
            <p>Calculated Exposure Value: {{ exposure.exposureValue }} EV</p>
            <p>Good for: {{ exposure.description }}</p>

        </div>

        <form action="/delete/{{ exposure.id }}" method="post">
            <button style="color: red;" onclick="return confirm('Are you sure?')">
                Delete
            </button>
        </form>

    {% else %}
        Nothing to see here!
    {% endif %}

    <a class="navigation" href="/history">Back to History</a>

</div>

{% endblock %}